@charset "utf-8";

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #f9f9f9 inset !important;
}

body {
    min-width: 1200px;
    color: #333;
    background: #ebeef5;
    font-size: 12px;
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

input,
textarea {
    outline: none;
    border: none;
}

::-webkit-input-placeholder {
    color: #333;
}

::-moz-placeholder {
    color: #333;
}

:-moz-placeholder {
    color: #333;
}

:-ms-input-placeholder {
    color: #333;
}

button {
    border: none;
}

img {
    width: 100px;
    height: 100px;
}

table img {
    width: 50px;
    height: 50px;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    margin-top: 0px;
}


/*图标*/
.a-icon {
    background-image: url("../images/amazonUi.png");
    background-size: 400px 900px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.a-icon-star {
    width: 80px;
    height: 18px;
    vertical-align: middle;
    margin-left: 30px;
}

.a-star-0 {
    background-position: -85px -368px;
}

.a-star-1 {
    background-position: -69px -368px;
}

.a-star-2 {
    background-position: -53px -368px;
}

.a-star-3 {
    background-position: -37px -368px;
}

.a-star-4 {
    background-position: -21px -368px;
}

.a-star-5 {
    background-position: -5px -368px;
}

.a-star-0-5 {
    background-position: -239px -368px;
}

.a-star-1-5 {
    background-position: -223px -368px;
}

.a-star-2-5 {
    background-position: -207px -368px;
}

.a-star-3-5 {
    background-position: -191px -368px;
}

.a-star-4-5 {
    background-position: -175px -368px;
}

.a-icon-prime {
    width: 54px;
    height: 15px;
    background-position: -5px -490px;
}

.a-icon-plus,
.a-icon-reduce {
    width: 16px;
    height: 16px;
    background-position: 0px -728px;
    margin-right: 10px;
}

.a-icon-reduce {
    background-position: -20px -728px;
}

.a-icon-new {
    width: 30px;
    height: 20px;
    background-position: -43px -724px;
}

.a-icon-label {
    width: 107px;
    height: 20px;
}

.a-label-yellow {
    background-position: 0px -779px;
}

.a-label-yellowS {
    width: 64px;
    background-position: 0px -751px;
    margin-right: 10px;
}

.a-label-VerifiedPurchase {
    width: 118px;
    background-position: 0px -834px;
}

.a-label-null {
    background-position: 0px -836px;
}

.a-label-gray {
    background-position: 0px -806px;
}

.caretUp {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px dashed;
}

.a-icon-user {
    width: 34px;
    height: 34px;
    background-position: -350px -658px;
}

.a-icon-help {
    width: 16px;
    height: 16px;
    background-position: -80px -728px;
}

/*月日历*/
.monthlyCalendar,
.dayCalendar {
    display: inline-block;
    width: 105px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 15px;
    background: #fff;
    position: relative;
    cursor: pointer;
    font-size: 14px;
}

.dayCalendar {
    width: 125px;
}

.monthlyCalendar:hover,
.dayCalendar:hover {
    background: #f5f5f5;

}

.monthlyCalendar input,
.dayCalendar input {
    width: 98px;
    height: 28px;
    background: transparent;
    outline: none;
    padding-left: 10px;
    cursor: pointer;
}

.dayCalendar input {
    width: 112px;
}

.monthlyCalendar i,
.dayCalendar i {
    display: inline-block;
    border-left: 1px solid #ddd;
    position: absolute;
    height: 28px;
    right: 29px;
    top: 0;
}

.monthlyCalendar b,
.dayCalendar b {
    position: absolute;
    top: 13px;
    right: 10px;
}

.mydate {
    background: #fff;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
}

.mydate:hover {
    background: #f5f5f5;
}

.mydate>span {
    display: inline-block;
    padding: 5px 10px 5px 0;
    margin-right: 5px;
    border-right: 1px solid #ddd;
    font-size: 14px;
}

.calendar {
    display: inline-block;
    vertical-align: middle;
}

/*登陆页面*/
.login,
.regist {
    margin-top: 80px;
}

.login>div,
.regist>div {
    height: 500px;
    margin: 0 auto;
}

.login>div>div,
.regist>div>div {
    display: inline-block;
    vertical-align: top;
}

.login h4,
.regist h4 {
    font-size: 30px;
    text-align: left;
}

.login h5 {
    margin-bottom: 5px;
    display: block;
}

.login .tip,
.regist .tip {
    color: #ff0000;
    margin: 0;
    text-align: left;
}

.login img,
.regist img {
    width: 520px;
    height: auto;
}

.loginBox,
.registBox {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.iphoneNumber,
.password {
    height: 40px;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #666666;
    border-radius: 2px;
    margin-bottom: 15px;
}

.regist .iphoneNumber,
.regist .password {
    border: none;
    margin-bottom: 15px;
}

.iphoneNumber i,
.password i {
    font-size: 24px;
    color: #999;
    margin: 0 5px;
}

.login input {
    background: transparent;
    line-height: 36px;
    width: 250px;
    height: 36px;
}

.regist input {
    height: 40px;
    width: 236px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.regist input.sm {
    width: 140px;
    margin-right: 10px;
}

.loginBox {
    background: #fff;
    width: 360px;
    height: 400px;
    margin-left: 80px;
}

.loginBox button,
.registBox button {
    width: 100%;
    height: 40px;
    line-height: 36px;
    background: #fd9827;
    border: 1px solid #666;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
}

.registBox button {
    margin-bottom: 15px;
}

.loginBox .link,
.registBox .link {
    text-align: right;
}

.sendCode {
    display: inline-block;
    width: 83px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #447ed9;
    border-radius: 2px;
    text-align: center;
    color: #447ed9;
}

/*分页*/
/*
        * 外面盒子样式---自己定义
        */

.page_div {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #666666;
    margin-right: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #eeeeee;
    height: 40px;
    line-height: 40px;
}

/*
       * 页数按钮样式
       */

.page_div a {
    min-width: 30px;
    height: 28px;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#firstPage,
#lastPage {
    width: 50px;
    color: #0073A9;
    border: 1px solid #0073A9 !important;
}

#prePage,
#nextPage {
    width: 70px;
    color: #0066c0;
    font-weight: 800;
}

.page_div .current {
    background-color: #0066c0;
    border-color: #0066c0;
    color: #FFFFFF;
}

.totalPages {
    margin: 0 10px;
}

.totalPages span,
.totalSize span {
    color: #0073A9;
    margin: 0 5px;
}

/* 头部导航条 */
.red {
    color: #ff6372;
    font-weight: 500;
}

.green {
    color: #75c977;
    font-weight: 500;
}

.blue {
    color: #0066c0;
}

.gray {
    color: #333;
    font-weight: 500;
}

.main {
    width: calc(100% - 220px);
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    background: #fff;
}

.productInfo {
    border-bottom: 10px solid #ebeef5;
}

.productInfo img {
    margin: 0 50px 0 10px;
    vertical-align: top;
}

.productDetail {
    display: inline-block;
    vertical-align: top;
    width: 75%;
}

.productDetail>div.productN {
    font-size: 14px;
    color: #0066c0;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.productDetail>div.productN:hover {
    text-decoration: underline;
}

.productDetail>div {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    margin-bottom: 10px;
}

.productDetail>div>span {
    font-weight: normal;
}

.productDetail>p>.price {
    color: #b12704;
    font-size: 16px;
    margin-right: 10px;
}

.productDetail>p>.num {
    font-size: 14px;
}

.productDetail>p>span,
.productDetail>p>i,
.table>tbody>tr>td i,
.table>tbody>tr>td span,
.table>tbody>tr>td a{
    vertical-align: middle;
}
.table>thead>tr>th{
    text-align: center;
}

.table>tbody>tr>td span>span {
    vertical-align: top;
}

.tablist {
    float: left;
    width: 1060px;

}

.tablist>li {
    float: left;
}

.tablist>li>a {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    color: #999;
}

.tablist>li.active>a {
    border-bottom: 3px solid #fd9827;
    color: #333;
}

.tablist>li>a:hover {
    border-bottom: 3px solid #fd9827;
}

.tablist>li>span {
    display: inline-block;
    color: #999;
    line-height: 50px;
}

.tablistTarget {
    display: none;
}

.tablistTarget.active {
    display: block;
}

.borderBottom3 {
    border-bottom: 3px solid #ddd;
    margin-top: 52px;
}

.borderBottom {
    border-bottom: 1px solid #ddd;
    margin: 30px 0;
}


.table>thead>tr>td {
    background-color: #f7f7f7;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    white-space: nowrap;
}

.table>tbody>tr>td {
    color: #666;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    font-size: 12px;
}

.table>tbody>tr>td .newName {
    color: #0066c0;
}

.table>tbody>tr>td .oldName {
    text-decoration: line-through;
}

.table>tbody>tr>td .todayPriceN {
    color: #b12704;
    font-weight: 500;
}

.table>tbody>tr>td .todayPriceO,
.table>tbody>tr>td .prePriceN,
.table>thead>tr>td .indent111 {
    margin-left: 111px;
}

.table>tbody>tr>td a {
    color: #0066c0;
    font-weight: 500;
    display: inline-block;
}

@media screen and (max-width: 1366px) {
    .table>tbody>tr>td a.blue {
        width: 150px;
    }

    .table>tbody>tr>td {
        padding: 2px;
    }

    .table>thead>tr>td {
        padding: 8px 2px;
    }
}

.table>tbody>tr>td a.btn {
    color: #333;
}

.table>tbody>tr>td a.btn:hover {
    text-decoration: none;
}

.table>tbody>tr.borderTr {
    border: 1px solid #ddd;
}

.table>tbody>tr.borderTr>td {
    border-bottom: none;
}

.table>tbody>tr>td a:hover {
    text-decoration: underline;
}

.table>tbody>tr>td .a-icon-prime {
    margin-left: 20px;
}

.table>tbody>tr.dropDownTable>td {
    text-align: left;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    ;
}

.table>tbody>tr>td .mydate {
    margin: 0;
}

.priceShow {
    display: inline-block;
    width: 116px;
    height: 30px;
    line-height: 25px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: solid 1px #dddddd;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

.overView {
    margin-top: 10px;
}

.overViewP {
    width: 230px;
    height: 60px;
    background-color: #eee;
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}

.overViewP>div {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-right: 10px;
}

.overViewP>div>p {
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 0;
    color: #fd9827;
}

.table>tbody>tr>td a.amazonBtn {
    width: 60px;
}

.priceTrend,
.amazonBtn {
    background-color: #ffac50;
    border: solid 1px #666666;
    font-size: 12px;
    color: #333;
}

.priceTrend:hover,
.amazonBtn:hover {
    background-color: #fd9827;
}

.buyBox,
.notBuyBox {
    text-align: left;
}

.notBuyBox {
    margin-left: 78px;
}

.reviewInfo {
    display: inline-block;
    width: 300px;
    background-color: #f5f5f5;
    margin: 10px 0 5px 0;
    padding-left: 20px;
    padding-bottom: 10px;
    vertical-align: top;
}

.reviewInfo>div {
    margin-right: 60px;
    font-size: 14px;
    font-weight: 500;
}

.reviewInfo>div>i {
    margin-left: 10px;
    vertical-align: text-bottom;
}

.reviewInfo>div>span {
    font-size: 24px;
    vertical-align: bottom;
    margin-left: 5px;
    line-height: 28px;
    margin-top: 5px;
    display: inline-block;
}

.startLevel {
    display: inline-block;
    width: 400px;
    margin-top: 15px;
    margin-left: 50px;
}

.startBg {
    margin-right: 2px;
    vertical-align: top;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.startBg .occupation {
    display: inline-block;
    width: 50px;
}

.startCover {
    display: inline-block;
    width: 100px;
    height: 16px;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: solid 1px #666666;
    position: relative;
    vertical-align: top;
}

.startCover>span {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: #fd9827;
    z-index: 10;
    display: inline-block;
}

.startInfo {
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    z-index: 20;
}

.startBg5>.startCover>span {
    width: 80%
}

.startBg4>.startCover>span {
    width: 14%
}

.startBg3>.startCover>span {
    width: 4%
}

.startBg2>.startCover>span {
    width: 1%
}

.startBg1>.startCover>span {
    width: 1%
}

.screenBox>span {
    vertical-align: -webkit-baseline-middle;
    font-size: 14px;
}

.screenBox .amazonBtn {
    font-size: 12px;
}

.selectStyle {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.selectStyle>select {
    outline: none;
    height: 30px;
    min-width: 110px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
    margin-left: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.selectStyle>b {
    position: absolute;
    right: 10px;
    top: 15px;
}

.selectStyle>i {
    position: absolute;
    display: inline-block;
    height: 30px;
    border-right: 1px solid #ddd;
    right: 30px;
    top: 0px;
}

.selectStar {
    display: inline-block;
    margin-left: 10px;
    vertical-align: bottom;
    margin-bottom: 5px;
}

.selectStar>div {
    display: inline-block;
}

.selectionArea {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 8px;
    text-align: center;
    margin-left: 10px;
}

.selectionArea>div {
    display: inline-block;
    margin-right: 10px;
}

.commentBox {
    margin-top: 20px;
}

.commentList .userName {
    font-size: 16px;
    width: 300px;
    display: inline-block;
    margin-left: 5px;
}

.commentList .userHelp {
    font-size: 14px;
}

.commentList .a-icon-help {}

.commentList span,
.commentList i {
    vertical-align: middle;
}

.commentList .a-icon-star {
    margin: 0;
}

.commentList-b {
    margin: 5px 0;
}

.commentList .userDsc {
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
}

.commentList .commentTime {
    font-size: 16px;
    margin-right: 20px;
}

.commentList-d {
    margin: 10px 0;
}

.commentList-e>img {
    width: 100px;
    height: auto;
}

.echartTitle {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.selectItem {
    border: none;
    outline: none;
    border-right: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 40px;
    vertical-align: top;
    padding: 0 5px;
}

.linkBtn {
    padding: 2px 5px;
    width: auto;
    margin: 0 0 0 10px;
}

.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    display: none;
    z-index: 999;
}

.model {
    position: fixed;
    left: 50%;
    width: 600px;
    min-height: 300px;
    max-height: 600px;
    overflow: auto;
    margin-top: 10px;
    margin-left: -300px;
    background: #fff;
    border-radius: 15px;
    padding: 10px 30px;
}

.modelSM {
    width: 400px;
    min-height: 200px;
    margin-left: -200px;
}

.tagModel>.model {
    padding: 30px 30px 10px 30px;
    border-radius: 20px;
    min-height: 100px;
    max-height: 300px;
}

.tagModel>.model>div {
    display: inline-block;
    vertical-align: top;
}

.tagModel>.model>div.tagModelList {
    width: 90%;
    margin-left: 10px;
}

.tagModel>.model .pull-right>span {
    display: inline-block;
    margin: 10px 20px 0 0;
    cursor: pointer;
}

.tagModel>.model .pull-right>span.comfireBtn {
    color: #267cff
}

.modelSM>.modelContent {
    min-height: 100px;
}

.modelTitle {
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    font-size: 16px;
    padding-left: 20px;
}

.modelTitle>.delete {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ffac50;
    float: right;
    text-align: center;
    cursor: pointer;
}

.modelTitle>.delete>i {
    font-size: 25px;
}

.modelContent {
    padding: 10px 20px;
}

.modelContent .btn {
    width: auto;
    margin-top: 0;
}

.grayBtn {
    background-color: #f5f5f5;
    border: solid 1px #dddddd;
    color: #999;
}

.grayBtn:hover {
    background: #ddd;
    color: #999;
}

.modelfoot {
    text-align: center;
}

.modelfoot>.amazonBtn {
    width: 200px;
    height: 40px;
    font-size: 16px;
}

.modelfoot table .amazonBtn {
    height: 28px;
    line-height: 15px;
    margin: 2px 0;
}

.inputLabel {
    display: none;
}

.inputLabel input {
    border: 1px solid #666;
    height: 30px;
    border-radius: 4px;
    vertical-align: top;
    margin-right: 10px;
    padding-left: 12px;
    width: 180px;

}

::-webkit-input-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.tabLabel {
    /* overflow:hidden; */
    border-bottom: 3px solid #ddd;
    margin-bottom: 10px;
    height: 40px;
}

.tabLabel li {
    float: left;
    font-size: 16px;
    padding: 0 15px;
    color: #666;
    cursor: pointer;
    line-height: 37px;
}

.tabLabel li.active {
    color: #000;
    border-bottom: 3px solid #ffac50;
}

.header>ul>li.account>span,
.header>ul>li.exit>span {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    color: #1a232f;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}

.header>ul>li.account>span:hover {
    background: #f5f5f5;
}

.addAccount span {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 20px;
    text-align: left;
}

.modelContent p {
    text-align: center;
    margin-bottom: 20px;
}

.modelContent input {
    width: 250px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}


/* 添加账号的选择类目 */
.modelContent #contentSelect {
    margin-left: 5px;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border-color: #ccc;
}

.modelContent #contentSelect option {
    text-align: center;
}

.addAccount input {
    width: 240px;
    vertical-align: middle;
}

.addAccount input:disabled {
    background-color: #eee;
}

.modelContent button.addConfirm {
    width: 400px;
    height: 40px;
    background: #ffac50;
    font-size: 14px;
    border-radius: 4px;
    color: #333;
}

/*库存分析*/
.dataTable {
    margin-top: 10px;
}

.dataThead>div {
    display: inline-block;
    width: 230px;
    font-size: 24px;
    background-color: #f5f5f5;
    padding-left: 20px;
}

.dataThead>div:first-child {
    width: 100px;
}

/*销售分析*/
.calendarTitle {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 10px;
    margin-right: 10px;
}

.selectChannel {
    height: 50px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    margin-top: 10px;
}

.selectChannel>em {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #fff;
    padding: 0 15px;
    font-style: normal;
    margin-left: 5px;
    cursor: pointer;
}

.selectChannel>em:hover {
    color: #fd9827;
}

.selectChannel>em.on {
    background-color: #ffac50;
}

.selectChannel>em.on:hover {
    background-color: #fd9827;
    color: #333;
}

.rank {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.rank>p {
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 16px;
}

.rankList img {
    width: 30px;
    height: 30px;
}

.progress {
    margin-top: 5px;
    height: 2px;
}

.productTitle {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.productTitle.productCt>span,
.productTitle>b,
.productCt>em {
    vertical-align: top;
    color: #333;
}

.productCt>em {
    font-style: normal;
    width: 8%;
    text-align: center;
    display: inline-block;
}

.productCt>span {
    display: inline-block;
    width: 54%;
    margin: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
}

.productCt>b {
    display: inline-block;
    font-weight: normal;
    width: 15%;
    text-align: center;
}

.inventoryTable>tbody>tr>td {
    border-right: 7px solid #fff;
    border-top: 0;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

.inventoryTable>thead>tr>td {
    background: #fff;
    text-align: left;
    padding: 0;
    border-right: 7px solid #fff;
}

.inventoryTable>thead>tr>td>div {
    background-color: #f5f5f5;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: normal;
    padding-left: 15px;
}

.inventoryTable>tbody>tr>td.time {
    width: 60px;
    border-bottom: 0;
    padding-left: 0;
    border-right: 0;
}

.inventoryTable>tbody>tr>td.time>div {
    width: 60px;
    padding: 5px 0;
    background-color: #fd9827;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 16px;
}

.inventoryTable>tbody>tr>td.time>div>b {
    font-weight: normal;
}

.inventoryTable>tbody>tr.forecast>td.time>div {
    background-color: #232f3d;
}

.inventoryTable>tbody>tr>td>.title {
    font-size: 12px;
    background-color: #f35b33;
    border-radius: 4px;
    width: 60px;
    color: #fff;
    padding: 5px;
    height: 28px;
    position: relative;
    cursor: pointer;
}

.inventoryTable>tbody>tr>td>.title.executed {
    background: #4bc375;
}

.inventoryTable>tbody>tr>td>.title.overlook {
    background: #666;
}

.inventoryTable span {
    display: inline-block;
    width: 38px;
    text-align: right;
}

.inventoryTable span.inventoryNum {
    text-align: left;
}

.inventoryTable span.Invday {
    width: 55px;
}

.stockNum {
    color: #ff6372;
    width: 30px;
}

.shipmentsNum {
    color: #75c977;
}

table .stockNum,
table .forecast .sale {
    text-decoration: underline;
    cursor: pointer;
}

table .sale {
    text-align: center;
}

.icon-banshou {
    font-size: 12px;
}

table .forecast .modifiedSale.sale {
    background: #0066c0;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

table .forecast .modifiedStockNum.stockNum {
    background: #ff7263;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.inventoryTable>tbody>tr>td>div.sale>span {
    display: inline-block;
    vertical-align: top;
}

.inventoryTable>tbody>tr.forecast>td:not(.time) {
    background: #f5f5f5;
}

.inventoryTable>tbody>tr>td:first-child,
.inventoryTable>tbody>tr.forecast>td:first-child {
    border-bottom: 0;
    background: transparent;
    padding-left: 0;
    border-right: 0;
}

.sale>span.manualIntervention {
    color: #0066c0;
    cursor: pointer;
}

#manualIntervention .modelContent>div>span {
    color: #999;
}

#manualIntervention .modelContent>div>input {
    border: 1px solid #333;
}

.inventoryTable>tbody>tr>td>div>div.saleInput {
    width: 120px;
    background: #fff;
    margin: 0 -10px;
    padding-left: 10px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.inventoryTable>tbody>tr>td>div.saleInput>span,
.inventoryTable>tbody>tr>td>div.saleInput>img {
    vertical-align: top;
}

.inventoryTable>tbody>tr>td>p {
    margin: 0;
}

.saleInput>i {
    background: url(../images/icon.png) 0 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.saleInput>i.plus {
    background-position: 0 -16px;
    position: absolute;
    top: 0;
    right: 0;
}

.saleInput>i.reduce {
    background-position: 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

.saleInput>div {
    display: inline-block;
    color: #999;
    font-size: 12px;
    line-height: 12px;
}

.saleInput>div>span>b {
    color: #0066c0;
    font-weight: normal;
    cursor: pointer;
}

#hotRank .progress,
#commonProgress .progress {
    height: 10px;
    border-radius: 0px;
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin-bottom: 0;
    margin-right: 10px;
}

#commonProgress .progress {
    width: 300px;
}

#hotRank .progress-bar,
#commonProgress .progress-bar {
    background-color: #ffac50;
    margin-bottom: 0;
}

.categroy,
.brand {
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
}

.productStyle>span {
    color: #999;
    margin-right: 10px;
    font-size: 14px;
}

.productStyle>b {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    vertical-align: top;
}

.tableTip {
    display: inline-block;
    font-size: 14px;
    vertical-align: baseline-middle;
    vertical-align: -webkit-baseline-middle;
    line-height: 40px;
    margin-left: 10px;
    color: #999;
}

.tableTip b {
    color: #0066c0;
    font-weight: normal;
}

.newTitle em,
.oldTitle em {
    display: inline-block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    font-style: normal;
    text-align: center;
    margin-right: 10px;
}

.newTitle em {
    background-color: #4fb377;
    border-radius: 4px;
    color: #fff;
}

.oldPrice {
    color: #ccc;
    text-decoration: line-through;
}

.down {
    color: #0066c0;
}

.up {
    color: #ffac50;
}

.table>tbody>tr>td.asin,
.asin {
    color: #0066c0;
}

.table>tbody>tr>td>div>span.buyBox {
    color: #0066c0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 115px;
    margin-right: 5px;
}

.table>tbody>tr>td>div.oldBuyBox>span:nth-child(1) {
    width: 110px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
    display: inline-block;
}

/* .table>tbody>tr>td>div>span{
    margin-right: 10px;
    display: inline-block;
    width: 60px;
} */
.table>tbody>tr>td>div.oldBuyBox>span {
    color: #ccc;
    text-decoration: line-through;
}

.addState,
.cancleState,
.upState,
.downState {
    display: inline-block;
    width: 40px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    border-radius: 2px;
}

.addState {
    background-color: #fd9827;
}

.cancleState {
    background-color: #999999;
}

.upState {
    background-color: #ff6372;
}

.downState {
    background-color: #75c977;
}

.zubie {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #232f3d;
    border-radius: 2px;
    color: #fff;
}

.buildSku>div {
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 8px;
}

.buildSku>div>input {
    border: 1px solid #333;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
}

.buildSku>div>span {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 10px;
}

.addAisn {
    cursor: pointer;
}

.sale {
    color: #0066c0;
}

.in {
    color: #ff7263;
}

.out {
    color: #75c977;
}

.titleBox {
    width: 130px;
    height: auto;
    background: #f35b33;
    z-index: 999;
    position: absolute;
    top: 28px;
    left: 0;
    padding: 10px;
    border-radius: 4px;
    /* display: none; */
    border-top: 2px solid #fff;
}

.executedBox {
    background: #4bc375;
}

.overlookBox {
    background: #666;
}

.inventoryTable span.executedBtn,
.inventoryTable span.overlookBtn {
    display: inline-block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    background-color: #4bc375;
    border-radius: 4px;
    text-align: center;
}

.inventoryTable span.overlookBtn {
    background-color: #666;
    margin-left: 5px;
}

.titleBox>h5 {
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 50px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 2px;
}

.inventoryTable span.revocationBtn,
.inventoryTable span.renforcedBtn {
    width: 80px;
    height: 20px;
    line-height: 18px;
    background: #fff;
    border-radius: 4px;
    color: #4bc375;
    text-align: center;
}

.inventoryTable span.renforcedBtn {
    color: #666666;
}

.inventoryTable span.revocationBtn:hover,
.inventoryTable span.renforcedBtn:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.modelContent input.labelInput {
    width: 120px;
    height: 22px;
    border: 1px solid #333;
    margin: 0 10px;
}

.interventionSales {
    padding: 10px 20px 0 20px;
}

.interventionSales>div {
    overflow-y: auto;
    height: 230px;
    margin-top: -20px;
}

.interventionSales>div>.table>tbody>tr>td {
    padding: 0;
}

.editOrder {
    background: #f5f5f5;
}

.editOrder span {
    vertical-align: middle;
}

.editOrder input {
    vertical-align: middle;
}

.selectLabel {
    width: 150px;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding: 0 10px;
    vertical-align: top;
}

.selectAttribute {
    width: 80px;
    height: 40px;
    border: none;
    padding: 0 10px;
    vertical-align: top;
    margin: 0 2px;
}

.selectList {
    height: 40px;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    vertical-align: top;
    text-align: left;
    line-height: 40px;
    position: relative;
}

.selectList img {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.selectList input {
    width: 400px;
}

.selectList span {
    display: inline-block;
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

.selectList i {
    color: #fd9827;
    vertical-align: top;
    font-style: normal;
}

.selectList>div>b {
    position: absolute;
    top: 18px;
    right: 10px;
}

.selectList>ul {
    background: #fff;
    position: absolute;
    top: 42px;
    left: 0px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 560px;
    height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.table>tbody>tr.competitive {
    display: none;
}

.table>tbody>tr.competitive>td {
    border: 0;
    color: #999;
    font-weight: normal;
}

.tableBox {
    /* border:1px solid #ddd; */
    /*  margin-bottom: 10px; */
    border-bottom: 10px solid #eee;
}

.tableBox:hover {
    background: #ebfffd;
}

.tableBox>table {
    margin: 0;
}

.productName>span {
    display: inline-block;
    width: 100px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.asinBox,
.skuBox,
.brandBox {
    position: relative;
}

.asinBox>ul,
.skuBox>ul,
.brandBox>ul {
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 140px;
    z-index: 10;
    background: #fff;
    padding: 10px;
    overflow-y: auto;
    height: 200px;
    display: none;
}

.asinBox>ul>li:hover,
.skuBox>li:hover,
.brandBox>ul>li:hover {
    text-decoration: underline;
}

.cover>.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -50px;
}

.cover>.loading>p {
    margin-top: 10px;
    font-size: 30px;
}

/* 左侧导航 */
.nav,
.navSKU {
    width: 210px;
    min-height: 100%;
    background: #283045;
    color: #ececee;
    display: inline-block;
}

.nav>li:first-child,
.navSKU>li:first-child {
    height: 100px;
    margin: 0;
}

.nav>li,
.navSKU>li {
    margin-bottom: 40px;
}

.nav>li>span,
.navSKU>li>span {
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    display: inline-block;
    color: #ccd2d9;
}

.nav>li>ul>li>a,
.navSKU>li>ul>li>a {
    color: #afb5ba;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

.navSKU>li>ul>li>a {
    padding-left: 40px;
}

.nav>li>ul>li>a>i {
    margin-right: 5px;
}

.nav>li>ul>li.on,
.navSKU>li>ul>li.on {
    background: #181f31;
    border-left: 5px solid #267cff;
}

.nav>li>ul>li.on>a,
.navSKU>li>ul>li.on>a {
    margin-left: -5px;
}

.tagItem {
    display: block;
    min-width: 80px;
    height: 20px;
    line-height: 18px;
    border-radius: 10px;
    border: 1px solid #267cff;
    padding: 0 8px;
    color: #267cff;
    margin-bottom: 5px;
}

.addTag {
    border-color: #d7d7d7;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.icon-more {
    display: inline-block;
    font-size: 20px;
}

.categoryList,
.selectCity {
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 0;
}

.selectCity>select {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    outline: none;
    border-color: #d7d7d7;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

strong {
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    display: inline-block;
}

.selectCity>b {
    position: absolute;
    right: 10px;
    top: 13px;
}

.typeList>span,
.tagList>span,
.categoryList>span,
.tagModelList>span {
    display: inline-block;
    min-width: 100px;
    height: 30px;
    line-height: 28px;
    padding: 0 8px;
    border-radius: 15px;
    border: 1px solid #d7d7d7;
    margin: 0 10px 10px 0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.typeList>span.on,
.tagList>span.on,
.tagModelList>span.on,
.categoryList>span.on {
    border-color: #267cff;
    color: #267cff;
}

.tagList>b {
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    display: inline-block;
}

.userManagement {
    float: right;
    position: relative;
}

.userManagement>span {
    font-size: 16px;
}

.userManagement>span>b {
    color: #0066c0;
    font-weight: normal;
    cursor: pointer;
}

.userManagement>div {
    position: absolute;
    width: 160px;
    top: 30px;
    right: 0;
    border: 1px solid #d7d7d7;
    background: #fff;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    display: none;
}

.userManagement>div>ul>li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d7d7d7;
    cursor: pointer;
}

.userManagement>div>ul>li:last-child {
    border: none;
}

.sj,
.sj2 {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent #d7d7d7 transparent;
    position: absolute;
    top: -11px;
    left: 70%;
}

.sj2 {
    border-width: 4px;
    border-color: transparent transparent #fff transparent;
    top: -8px;
    left: 70%;
    margin-left: 1px;
}

.searchBox>p {
    font-size: 18px;
    font-weight: 500;
}

.searchBox>div {
    width: 500px;
    border: 1px solid #d7d7d7;
    margin-bottom: 30px;
    min-height: 30px;
    max-height: 80px;
    position: relative;
}

.searchBox>div>select {
    border: none;
    outline: none;
    height: 30px;
    vertical-align: top;
}

.searchBox>div>textarea {
    width: 400px;
    padding-top: 5px;
    min-height: 30px;
    max-height: 80px;
    resize: none;
    vertical-align: top;
}

.searchBox>div>i {
    position: absolute;
    right: 10px;
    top: 5px;
}

.usTime {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

h1 {
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    margin: 0 0 15px 0;
    border-left: 4px solid #267cff;
}

.SKUmain {
    width: calc(100% - 415px);
    display: inline-block;
    vertical-align: top;
    background: #fff;
}

.SKUmain>div {
    padding: 30px;
}

.compareBox {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    background: #fff;
    float: right;
}

.compareBox ul {
    padding: 10px 20px;
}

.compareBox .productName {
    color: #0066c0;
    line-height: 12px;
    font-weight: 500;
}

.compareSearch {
    padding: 20px 20px 0 20px;
}

.compareSearch>h2 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.compareSearch>div {
    width: 100%;
    border: 1px solid #d7d7d7;
    background: #f7f7f7;
    height: 30px;
    padding-left: 10px;
}

.compareSearch>div>input {
    width: 85%;
    height: 28px;
    line-height: 28px;
    background: transparent;
}

.compareBox .img {
    text-align: center;
}

.compareBox>ul.tab>li {
    float: left;
    margin-left: 20px;
    font-size: 14px;
    padding: 5px 0;
    cursor: pointer;
}

.compareBox>ul.tab>li.on {
    color: #267cff;
    border-bottom: 2px solid #267cff;
}

.compareBox .tabCt li {
    cursor: pointer;
    padding: 10px 0;
    position: relative;
}

.compareBox .tabCt li:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;
}

.compareBox .tabCt li>p {
    margin-bottom: 2px;
    color: #000;
}

.compareBox .tabCt li>p.review {
    color: #666;
}

.compareBox .tabCt li>p.review>span,
.compareBox .tabCt li>p>span.price {
    color: #000;
    margin-right: 10px;
}

.categoryModel>.model {
    border-radius: 20px;
    position: relative;
    padding: 0;
}

.categoryModel>.model>div {
    display: inline-block;
}

.rootCategory {
    float: left;
    width: 150px;
    height: 480px;
    background: #f7f7f7;
}

.categoryModel>.model>div>h2 {
    font-size: 16px;
    color: #bbbbc2;
    margin: 20px 0;
}

.categoryModel>.model>div.rootCategory {
    text-align: center;
}

.rootCategory li>span {
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    margin: 10px;
}

.rootCategory li {
    cursor: pointer;
}

.rootCategory li.on {
    background: #fff;
}

/* .rootCategory li.on>span{
    border:1px solid #267cff;
    color:#267cff;
} */
.subCategory {
    padding-left: 20px;
    width: 415px;
}

.subCategory>div>span {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    text-align: center;
    cursor: pointer;
}

.subCategory>div>span.on {
    border: 1px solid #267cff;
    color: #267cff;
}

.unselected {
    border: 1px solid #d7d7d7;
    color: #d7d7d7;
}

.subCategory>span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f7f7f7;
    text-align: center;
    padding-top: 8px;
    float: right;
    color: #aaa;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.subCategory>span.on {
    background: #267cff;
    color: #fff;
}

.addIcon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #f7f7f7;
    border: 1px solid #cacaca;

}

.compareTr {
    background: #f7f7f7;
}

.nav>li>a.logo {
    display: inline-block;
    background: #181f31;
    height: 100px;
    width: 210px;
    text-align: center;
    padding-top: 20px;
}

.nav>li>a.logo,
.navSKU>li>a.logo {
    display: inline-block;
    background: #181f31;
    height: 100px;
    width: 210px;
    text-align: center;
    padding-top: 20px;
}

.logo>img {
    width: auto;
    height: auto;
}

.commentList {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.downTr {
    background: #f5f5f5;
}

.manageCategory {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    overflow: hidden;
}

.manageCategory h2 {
    font-size: 16px;
    color: #bbbbc2;
    margin: 20px 0;
}

.manageCategory .rootCategory {
    min-height: 500px;
    text-align: center;
    width: 20%;
}

.manageCategory .subCategory {
    margin-left: 20%;
    width: auto;
}

.editCategory {
    background: #267cff;
    color: #fff;
    border-color: #267cff;
}

.deleteCategory>.model {
    text-align: center;
    padding: 10px 0 20px 0;
    width: 250px;
    min-height: 200px;
    margin-left: -125px;
    border-radius: 15px;
}

.deleteCategory .icon-gantanhao-xianxingyuankuang {
    font-size: 80px;
    color: #267cff;
}

.deleteCategory h2 {
    margin: 0;
}

.deleteCategory p {
    margin: 10px;
}

.comfireBtn {
    color: #267cff;
    margin-right: 10px;
    cursor: pointer;
}

.deleteBtn {
    color: #999;
    cursor: pointer;
    margin-right: 10px;
}

.subCategoryItem>div {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.subCategoryItem>div.modifyCategory,
.rootCategoryList.modifyCategory {
    background: #fff;
    border-color: #267cff;
}

.subCategoryItem>div>div {
    display: none;
    width: 100px;
}

.subCategoryItem>div>input {
    width: 120px;
    display: none;
    color: #333;
    height: 26px;
    line-height: 26px;
}

.addCategoryModel>div.model {
    min-height: 200px;
}

.addCategoryModel>div.model>div>div {
    display: inline-block;
    vertical-align: top;
}

.addCategoryModel>div.model>div>textarea {
    border: 1px solid #d7d7d7;
    width: 430px;
    resize: none;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.rootCategory li>div {
    display: inline-block;
    width: 70%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    margin: 10px;
    padding: 0 10px;
}

.rootCategoryList>div,
.rootCategoryList>input {
    display: none;
}

.rootCategoryList>input {
    width: 68px;
    display: none;
    color: #333;
    height: 26px;
    line-height: 26px;
}

.productBtn,
.productMBtn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 100px;
    font-size: 14px;
    border: 1px solid #283045;
    margin-bottom: 10px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.productMBtn {
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.productBtn.on,
.productMBtn.on {
    background: #283045;
    color: #fff;
    vertical-align: top;
}

.easyAdd {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #267cff;
    border: 1px solid #267cff;
    vertical-align: top;
    text-align: center;
    padding-top: 3px;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.table>thead>tr>td.taskId,
.table>tbody>tr>td.taskId {
    text-align: left;
    padding-left: 20px;
    width: 15%;
}

.taskName>div {
    display: none;
}

.taskName>div>input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    vertical-align: top;
    padding-left: 10px;
}

.taskName>div>span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    background: #d7d7d7;
    vertical-align: top;
    border: 1px solid #ccc;
    cursor: pointer;
}


.table>thead>tr>td.tagName,
 .table>tbody>tr>td.tagName {
     text-align: left;
     padding-left: 20px;
     width: 33%;
 }

.tagName>div {
    display: none;
}

.tagName>div>input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    vertical-align: top;
    padding-left: 10px;
}

.tagName>div>span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    background: #d7d7d7;
    vertical-align: top;
    border: 1px solid #ccc;
    cursor: pointer;
}


/*修改翻页样式*/
.dataTables_paginate a {
    padding: 6px 9px !important;
    /* border: 1px solid #ddd!important; */
    cursor: pointer;
    background: #ddd;
    /*  margin-left: 5px; */
}

.dataTables_paginate a.previous {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dataTables_paginate a.next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.paginate_button.current {
    /* background: #0066c0; */
    color: #fff;
}

a:active,
a:hover {
    outline: 0;
}

.dataTables_info {
    display: inline-block !important;
}

.dataTables_filter {
    display: none !important;
}

.dataTables_filter {
    float: right;
}

.dataTables_paginate,
div.dataTables_wrapper div.dataTables_paginate {
    float: right;
    margin-top: 8px;
}

.dataTables_length {
    display: none;
}

.dataTables_filter label {
    font-weight: normal;
}

.dataTables_filter input {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-left: 10px;
    padding-left: 10px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    position: static !important;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    margin-left: 10px;
    vertical-align: top;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 0;
}

.currentSku {
    color: #999;
    line-height: 30px;
    display: inline-block;
}

.editCompetitons {
    color: #0066c0;
}



/* Delta总览页面 */


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.delta .draggable {
    position: fixed;
    width: 240px;
    background-color: #fff;
    border: 1px solid #C7C7C7;
    z-index: 100;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    box-shadow: 0px 0px 5px 1px #666;
    cursor: move;
    padding: 0px 15px;
}

.delta .draggable .item {
    border-bottom: 1px solid #E2E2E2;
}

.delta .draggable .item .item_title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.delta .draggable .item:last-child input {
    background-color: #fff;
}


.delta .draggable .item .item_title i {
    float: right;
}

.delta .draggable .item ul {
    overflow: hidden;
    margin-bottom: 15px;
}

.delta .draggable .item ul li {
    width: 49%;
    float: left;
    height: 46px;
    line-height: 46px;
    text-align: center;
}

.delta .draggable .item ul li span {
    color: #999;
}

.delta .draggable .item ul li input {
    color: #000;
    width: 45px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #C3C3C3 !important;
}

.delta .amaTankuang {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
}

.delta .amaTankuang .content {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
}

.delta .irwindale .content {
    width: 564px;
}

.delta .fba .content {
    width: 380px;
}

.delta .amaTankuang .content {
    padding: 8px 15px;
}

.delta .amaTankuang .content .replan_btn {
    width: 76px;
    height: 30px;
    background-color: #0166C0;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.delta .amaTankuang .content .replan_btn:hover {
    background-color: rgba(1, 102, 192, .7);
}

.delta .amaTankuang .content .ama_header {
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 16px;
    line-height: 41px;
    color: #000;
}

.delta .amaTankuang .content .ama_header .close {
    line-height: 38px;
}



.delta .amaTankuang .content .table thead tr {
    height: 34px !important;
    line-height: 34px !important;
}

.delta .amaTankuang .content .table th {
    background-color: #F4F4F4;
    color: #000;
    font-weight: 700;
    border: none !important;
    text-align: left;
    font-size: 12px;
    height: 28px;
}

.delta .amaTankuang .content .table td {
    height: 44px;
    border: none !important;
    text-align: left;

}

.delta .amaTankuang .content .table tbody tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}


.delta .amaTankuang .content .table td:nth-child(1),
.delta .amaTankuang .content .table td:nth-child(4) {
    color: #000;
}

.delta .main {
    position: relative;
}

.delta .main .info {
    margin-bottom: 15px;
}

.delta .main .info .product_img {
    width: 80px;
    height: 80px;
    vertical-align: top;
    margin-right: 22px;
}

.delta .main .info>div {
    display: inline-block;
}

.delta .main .info .describe {
    width: 43%;
}

.delta .main .info .describe p {
    font-size: 14px;
    line-height: 23px;
}

.delta .main .info .describe p a {
    color: #0267C1;
}

.delta .main .info .info_tables>div {
    display: inline-block;
}

.delta .main .info .info_tables .tables_title span {
    color: #aaa;
}

.delta .main .info .info_tables .tables_title a {
    color: #0267C1;
}

.delta .main .info .info_tables .tables {
    float: right;
    margin-left: 10px;
}

.delta .main .info .info_tables .tables p {
    margin: 0px;
}

.delta .main .info .info_tables .tables p span {
    width: 50px;
    height: 26px;
    border: 1px solid #D5D5D5;
    display: inline-block;
    text-align: center;
    line-height: 26px;
}

.delta .main .info .info_tables .tables p span.current {
    background-color: #E1EDFF;
}


.delta .main .table_header {
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
    padding: 9px 0px;
    position: relative;
}

.delta .main .table_header .item {
    padding: 0px 20px;
    border-right: 2px solid #D8D8D8;
    text-align: center;
}

.delta .main .table_header .item:nth-child(3) {
    border-right: none;
}

.delta .main .table_header .item .title {
    font-size: 16px !important;
    color: #000;
    cursor: pointer;
}

.delta .main .table_header .item:nth-child(3) .title:hover {
    text-decoration: underline;
}

.delta .main .table_header .item .apr {
    margin-left: 15px;
    font-size: 12px;
    color: #666;
}

.delta .main .table_header .item i {
    cursor: pointer;
}

.delta .main .table_header .item input {
    font-size: 16px;
    text-align: center;
    color: #000;
    width: 60px;
    border-bottom: 1px solid #ccc;
    margin-right: 14px;
}

.delta .main .table_header .item input:focus {
    border-bottom: 1px solid #333;
}

.delta .main .table_header .replan {
    width: 82px;
    height: 100%;
    background-color: #0166C0;
    color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 43px;
    cursor: pointer;
}

.delta .main .table_header .replan:hover {
    background-color: rgba(1, 102, 192, .9);
}

.delta .main .table_header .endpos {
    margin-right: 105px;
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    border: 1px solid #D7D7D7;
    cursor: pointer;
}

.delta .main .table_header .endpos:hover {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
}


/* 表格 */
.delta .main .table thead th {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    border-bottom: none;
    border: 1px solid #c0c0c0;
    text-align: center;
    vertical-align: inherit !important;

}

.delta .main .table thead span {
    font-size: 16px;
}

.delta .main .table thead tr:first-child {
    height: 42px;
    line-height: 42px;
    background-color: #283045;
}

.delta .main .table thead tr:last-child {
    background-color: #656C7C;
}

.delta .main .table tbody td {
    color: #666;
    border: 1px solid #ccc;
}

.delta .main .singleskutable tbody td:nth-child(1),
.delta .main .singleskutable tbody td:nth-child(6),
.delta .main .singleskutable tbody td:nth-child(9),
.delta .main .singleskutable tbody td:nth-child(13),
.delta .main .singleskutable thead tr:nth-child(1) th,
.delta .main .singleskutable thead tr:nth-child(2) th:nth-child(5),
.delta .main .singleskutable thead tr:nth-child(2) th:nth-child(8),
.delta .main .singleskutable thead tr:nth-child(2) th:nth-child(12) {
    border-right: 2px solid #C0C0C0;
}

.delta .main .singleskutable thead tr:nth-child(1) th:last-child {
    border-right: 1px solid #c0c0c0;
}


.delta .main .singleskutable tbody td:nth-child(6),
.delta .main .singleskutable tbody td:nth-child(9),
.delta .main .singleskutable tbody td:nth-child(12),
.delta .main .singleskutable tbody td:nth-child(13) {
    color: green;
}

.delta .main .singleskutable tbody td:first-child {
    color: #000;
}

.delta .popover {
    height: auto;
    color: #333;
    max-width: none;
}

.delta .popover-content {
    padding: 4px;
}

.delta .popover-content .table {
    margin: 0px;
    width: 100%;
}

.delta .popover-content .table th {
    border-bottom: none;
}

.delta .popover .popover-content td {
    border: none !important;
    text-align: left;
}

.delta .popover .popover-content .inputDiv {
    padding: 10px;
}

.delta .popover .popover-content .inputDiv .item {
    display: inline-block;
    margin-right: 10px;
}

.delta .popover .popover-content .inputDiv .item:last-child {
    margin-right: 0px;
}

.delta .popover .popover-content .inputDiv .item input {
    width: 170px;
    height: 30px;
    border: 1px solid #ccc;
}

.delta .popover .popover-content .inputDiv .item input.dayDate {
    width: 90px;
    border: 1px solid #ccc;
    text-align: center;
}

.delta .popover .popover-content .inputDiv .item .add_item {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

/* 单品skuendpos样式 */
.delta .endpostable {}

.delta .endpostable thead tr:first-child th:nth-child(4) {
    border-right: 2px solid #999;
}

.delta .endpostable thead tr:last-child th {
    font-size: 14px;
}

.delta .endpostable tbody td:first-child {
    color: #000;
}

.delta .endpostable tbody td:nth-child(4) {
    border-right: 2px solid #999;
}

/* delta setting样式 */
.delta .tabs {
    margin-bottom: 24px;
}

.delta .tabs .easyAdd {
    width: 40px;
    height: 40px;
    line-height: 34px;
    cursor: pointer;
}

.delta .tabs .easyAdd:hover {
    color: white;
    background-color: #267CFF;
}

.delta .tabs a {
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.delta .tabs a.current {
    background-color: #283045;
    color: #fff;
}

.delta .tabs a:nth-child(2) {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.delta .tabs a:last-child {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.delta .deltaovertable tbody td {
    color: #4A4A4A;
}

.delta .deltaovertable tbody td:first-child {
    min-width: 50px;
}

.delta .deltaovertable tbody td input {
    width: 100%;
    text-align: center;

}

/* 产品线SKU预测样式 */

.delta .main .productlineskutable thead th {
    min-width:200px;
}

.delta .productlineskutable tbody td {
    color: #4A4A4A;
    text-align: center;
}

.delta .productlineskutable tbody td:first-child {
    min-width: 100px;
}

.delta .productlineskutable tbody td input {
    width: 100%;
    text-align: center;

}

.delta .main .header_search {
    height: 40px;
    margin-bottom: 20px;
}

.delta .main .header_search .mydate {
    margin-top: 5px;
}

.delta .main .header_search .right_Calculation div{
    height: 40px;
    padding:13px;
    display: inline-block;
    border: 1px solid #DEDEDE;
    float: left;
}

.delta .main .header_search .right_Calculation div span{
    font-weight: 700;
}

.delta .main .header_search .right_Calculation div:not(:last-child){
    border-right: none;
}

.setting .table thead tr {
    height: 44px;
}

.setting .table thead th {
    vertical-align: inherit;
    border-bottom: none;
    background-color: #F4F4F4;
}

.setting .table tbody td {
    text-align: left;
    color: #000;
}

.setting .table tbody td .item span {
    width: 50px;
    height: 25px;
    border: 1px solid #D5D5D5;
    border-right: none;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 23px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.setting .table tbody td .item span.current {
    background-color: #E1EDFF;
}

.setting .table tbody td .item span:last-child {
    border-right: 1px solid #D5D5D5;
}

.SidebarLeft{
    width: 200px;
    float: left;
}
.SidebarRight{
    float: left;
    width:calc(100% - 200px);
}


/*
 Haw任务页面样式
 */
.hawMessageBox>.model {
    text-align: center;
    padding: 10px 0 20px 0;
    width: 250px;
    min-height: 200px;
    margin-left: -125px;
    border-radius: 15px;
}

.hawMessageBox .icon-gantanhao-xianxingyuankuang {
    font-size: 80px;
    color: #267cff;
}

.hawMessageBox h2 {
    margin: 0;
}

.hawMessageBox p {
    margin: 10px;
}
