<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analyze.dao.AsinSkuMapDOMapper">
    <resultMap id="BaseResultMap" type="com.analyze.model.AsinSkuMapDO">
        <result column="asin" jdbcType="VARCHAR" property="asin"/>
        <result column="sku" jdbcType="VARCHAR" property="sku"/>
        <result column="PM" jdbcType="VARCHAR" property="pm"/>
        <result column="CreatedBy" jdbcType="VARCHAR" property="createdBy"/>
        <result column="UpdatedBy" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        asin, sku, PM, CreatedBy, UpdatedBy, CreatedAt, UpdatedAt
    </sql>

    <select id="findByAsin" parameterType="java.lang.String" resultType="com.analyze.model.AsinSkuMapDO">
        select top 1 *
        from asin_sku_map
        where asin = #{asin, jdbcType=VARCHAR}
    </select>

    <select id="findBySku" parameterType="java.lang.String" resultType="com.analyze.model.AsinSkuMapDO">
        select top 1 *
        from asin_sku_map
        where sku = #{sku, jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.analyze.model.AsinSkuMapDO">
        insert into asin_sku_map (asin, sku, PM, CreatedBy, UpdatedBy, CreatedAt, UpdatedAt)
        values (#{asin,jdbcType=VARCHAR}, #{sku,jdbcType=VARCHAR}, #{pm,jdbcType=VARCHAR},
                #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, getdate(),getdate())
    </insert>
    <insert id="insertSelective" parameterType="com.analyze.model.AsinSkuMapDO">
        insert into asin_sku_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="asin != null">
                asin,
            </if>
            <if test="sku != null">
                sku,
            </if>
            <if test="pm != null">
                PM,
            </if>
            <if test="createdBy != null">
                CreatedBy,
            </if>
            <if test="updatedBy != null">
                UpdatedBy,
            </if>
            CreatedAt,
            UpdatedAt
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="asin != null">
                #{asin,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                #{sku,jdbcType=VARCHAR},
            </if>
            <if test="pm != null">
                #{pm,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{CreatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedBy != null">
                #{UpdatedBy,jdbcType=VARCHAR},
            </if>
            getdate(),
            getdate()
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into asin_sku_map (<include refid="Base_Column_List"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.asin,jdbcType=VARCHAR}, #{item.sku,jdbcType=VARCHAR}, #{item.pm,jdbcType=VARCHAR},
            #{item.createdBy,jdbcType=VARCHAR}, #{item.updatedBy,jdbcType=VARCHAR}, getdate(), getdate())
        </foreach>
    </insert>

    <update id="updateById" parameterType="com.analyze.model.AsinSkuMapDO">
        update asin_sku_map
        set
        <if test="asin != null">
            asin = #{promotionId, jdbcType=BIGINT},
        </if>
        <if test="sku != null">
            sku = #{asin, jdbcType=NVARCHAR},
        </if>
        <if test="pm != null">
            PM = cast( #{price, jdbcType=NUMERIC} as money),
        </if>
        <if test="updatedBy != null">
            UpdatedBy = #{updatedBy, jdbcType=NUMERIC},
        </if>
        updatedAt = getdate()
        where Id = #{id, jdbcType=INTEGER}
    </update>

</mapper>