<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analyze.dao.SkuScrapyTaskVSkuListMapper">
  <resultMap id="BaseResultMap" type="com.analyze.model.SkuScrapyTaskVSkuList">
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="vendor_sku" jdbcType="VARCHAR" property="vendorSku" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, vendor_sku, insert_time
  </sql>
  <insert id="insert" parameterType="com.analyze.model.SkuScrapyTaskVSkuList">
    insert into SkuScrapyTaskVSkuList (task_id, vendor_sku, insert_time
      )
    values (#{taskId,jdbcType=VARCHAR}, #{vendorSku,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.analyze.model.SkuScrapyTaskVSkuList">
    insert into SkuScrapyTaskVSkuList
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="vendorSku != null">
        vendor_sku,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="vendorSku != null">
        #{vendorSku,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- 批量插入 -->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into SkuScrapyTaskVSkuList (<include refid="Base_Column_List" />)
    values
    <foreach collection="list" item="item" index="index"  separator=",">
      (#{item.taskId,jdbcType=VARCHAR}, #{item.vendorSku,jdbcType=VARCHAR}, #{item.insertTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
</mapper>