<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analyze.dao.VcPromotionInfoDOMapper">
    <resultMap id="baseResultMap" type="com.analyze.model.VcPromotionInfoDO">
        <result column="CrawId" jdbcType="VARCHAR" property="crawId"/>
        <result column="CreatedOn" jdbcType="TIMESTAMP" property="createdOn"/>
        <result column="PromotionId" jdbcType="VARCHAR" property="promotionId"/>
        <result column="Status" jdbcType="VARCHAR" property="status"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="StartDate" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="EndDate" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="Type" jdbcType="VARCHAR" property="type"/>
        <result column="HeroProduct" jdbcType="VARCHAR" property="heroProduct"/>
        <result column="VendorCode" jdbcType="VARCHAR" property="vendorCode"/>
        <result column="MarketPlace" jdbcType="VARCHAR" property="marketPlace"/>
        <result column="BillingContact" jdbcType="VARCHAR" property="billingContact"/>
        <result column="FundingAgreement" jdbcType="VARCHAR" property="fundingAgreement"/>
        <result column="MerchandisingFee" jdbcType="VARCHAR" property="merchandisingFee"/>
        <result column="CrawFlg" jdbcType="VARCHAR" property="crawFlg"/>
    </resultMap>

    <resultMap id="promotionWithProductResultMap" type="com.analyze.model.VcPromotionInfoDO">
        <result column="CrawId" jdbcType="VARCHAR" property="crawId"/>
        <result column="CreatedOn" jdbcType="TIMESTAMP" property="createdOn"/>
        <result column="PromotionId" jdbcType="VARCHAR" property="promotionId"/>
        <result column="Status" jdbcType="VARCHAR" property="status"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="StartDate" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="EndDate" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="Type" jdbcType="VARCHAR" property="type"/>
        <result column="HeroProduct" jdbcType="VARCHAR" property="heroProduct"/>
        <result column="VendorCode" jdbcType="VARCHAR" property="vendorCode"/>
        <result column="MarketPlace" jdbcType="VARCHAR" property="marketPlace"/>
        <result column="BillingContact" jdbcType="VARCHAR" property="billingContact"/>
        <result column="FundingAgreement" jdbcType="VARCHAR" property="fundingAgreement"/>
        <result column="MerchandisingFee" jdbcType="VARCHAR" property="merchandisingFee"/>
        <result column="CrawFlg" jdbcType="VARCHAR" property="crawFlg"/>
        <result column="InsertAt" jdbcType="TIMESTAMP" property="insertAt" />

        <collection property="products" ofType="com.analyze.model.VcPromotionProductInfoDO">
            <result column="CrawId" jdbcType="VARCHAR" property="crawId"/>
            <result column="PromotionId" jdbcType="VARCHAR" property="promotionId"/>
            <result column="ProductName" jdbcType="VARCHAR" property="productName"/>
            <result column="Upc" jdbcType="VARCHAR" property="upc"/>
            <result column="AmazonPriceStr" jdbcType="VARCHAR" property="amazonPriceStr"/>
            <result column="AmazonPrice" jdbcType="DECIMAL" property="amazonPrice"/>
            <result column="WebsitePriceStr" jdbcType="VARCHAR" property="websitePriceStr"/>
            <result column="WebsitePrice" jdbcType="DECIMAL" property="websitePrice"/>
            <result column="FundingStr" jdbcType="VARCHAR" property="fundingStr"/>
            <result column="Funding" jdbcType="DECIMAL" property="funding"/>
            <result column="LikelyPriceStr" jdbcType="VARCHAR" property="likelyPriceStr"/>
            <result column="LikelyPrice" jdbcType="DECIMAL" property="likelyPrice"/>
            <result column="UnitsSoldStr" jdbcType="VARCHAR" property="unitsSoldStr"/>
            <result column="UnitsSold" jdbcType="INTEGER" property="unitsSold"/>
            <result column="AmountSpentStr" jdbcType="VARCHAR" property="amountSpentStr"/>
            <result column="AmountSpent" jdbcType="DECIMAL" property="amountSpent"/>
            <result column="RevenueStr" jdbcType="VARCHAR" property="revenueStr"/>
            <result column="Revenue" jdbcType="DECIMAL" property="revenue"/>
            <result column="craw_flg" jdbcType="VARCHAR" property="crawFlg"/>
            <result column="asin" jdbcType="VARCHAR" property="asin"/>
        </collection>

    </resultMap>
    <sql id="Base_Column_List">
        CrawId, CreatedOnStr, PromotionId, Status, Name, StartDateStr, EndDateStr, Type, HeroProduct,
    VendorCode, MarketPlace, BillingContact, FundingAgreement, MerchandisingFee,
    CrawFlg, CreatedOn, StartDate, EndDate
    </sql>

    <select id="findAll" resultMap="baseResultMap">
        select *
        from VcPromotionInfo
    </select>

    <select id="findAllWithProductInfo" resultMap="promotionWithProductResultMap">
        select *
        from VcPromotionInfo p
                 left join VcPromotionProductInfo pp on p.CrawId = pp.CrawId and p.PromotionId = pp.PromotionId
    </select>

    <select id="findAllLastCrawWithProductInfo" resultMap="promotionWithProductResultMap">
        select *
        from VcPromotionInfo p
                 left JOIN VcPromotionProductInfo pp on p.CrawId = pp.CrawId and p.PromotionId = pp.PromotionId
        where p.CrawId = (select max(cast(CrawId as BIGINT)) from VcPromotionInfo)
    </select>

    <select id="findLastCrawPromotionWithCriteria" resultMap="promotionWithProductResultMap"
            parameterType="com.analyze.dto.request.VcPromotionSearchCriteria">
        select *
        from VcPromotionInfo p
        left JOIN VcPromotionProductInfo pp on p.CrawId = pp.CrawId and p.PromotionId = pp.PromotionId
        where 1=1
        and p.CrawId = (select max(cast(CrawId as BIGINT)) from VcPromotionInfo)
        and p.PromotionId is not null
        and p.PromotionId != ''
        <if test="promotionId != null and promotionId != ''">
            and p.PromotionId = #{promotionId, jdbcType=VARCHAR}
        </if>
        <if test="asin != null and asin != '' ">
            and pp.Asin = #{asin, jdbcType=VARCHAR}
        </if>
        <if test="status != null and status != ''">
            and p.Status = #{status, jdbcType=VARCHAR}
        </if>
        <if test="startDateFrom != null">
            and <![CDATA[ convert(date, p.StartDate) >= ]]> #{startDateFrom, jdbcType=TIMESTAMP}
        </if>
        <if test="startDateTo != null">
            and <![CDATA[ convert(date, p.StartDate) <= ]]> #{startDateTo, jdbcType=TIMESTAMP}
        </if>
        <if test="endDateFrom != null">
            and <![CDATA[ convert(date, p.EndDate) >= ]]>  #{endDateFrom, jdbcType=TIMESTAMP}
        </if>
        <if test="endDateTo != null">
            and <![CDATA[ convert(date, p.EndDate) <= ]]> #{endDateTo, jdbcType=TIMESTAMP}
        </if>
    </select>

</mapper>