<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analyze.dao.VskuToPidMapDOMapper">
  <resultMap id="BaseResultMap" type="com.analyze.model.VskuToPidMapDO">
    <result column="vendor_sku" jdbcType="VARCHAR" property="vendorSku" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="eff_flg" jdbcType="VARCHAR" property="effFlg" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    vendor_sku, product_id, eff_flg, insert_time
  </sql>
  <insert id="insert" parameterType="com.analyze.model.VskuToPidMapDO">
    insert into VskuToPidMap (vendor_sku, product_id, eff_flg, 
      insert_time)
    values (#{vendorSku,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{effFlg,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.analyze.model.VskuToPidMapDO">
    insert into VskuToPidMap
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vendorSku != null">
        vendor_sku,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="effFlg != null">
        eff_flg,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vendorSku != null">
        #{vendorSku,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="effFlg != null">
        #{effFlg,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>